.newside {
  margin-left: -5px;
}
.settingimg {
  float: right;
}
.imgsetting {
  background-color: #b9b2dc;
  padding: 7px;
  border-radius: 50%;
  margin-top: 20px;
}

div:where(.swal2-container) .swal2-input {
  /* height: 2.5rem; */
  /* padding: 0 0.75em; */
  width: 373px;
}
