/* .logosingup{

} */
 
/* @media (min-width: 280) and (max-width: 350) {
    .logosingup {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    .logosingupimg
{
    text-align: center;
  width: 25%;
}
} */
 
 