.newac{
    margin-right: 25px;
}
.newacone{
    margin-left: 20px;
    margin-top: 20px;

}
.newactwo{
    margin-right: 30px;
    margin-top: 65px;

}
.welslide{
    margin-right: 5px;
}
.welslideone{
    margin-right: -20px;
    margin-top: 20px;

}
.welslidetwo{
    margin-right: 0px;
    margin-top: 65px;

}