/* .pswcss{
padding: "15px 0px 5px 62px";
} */

.password_submit{
    width: 100%;
    font-size: 24px;
    background-color: #000 !important;
    border: none;
    color: #B9B2DC !important;
    padding: 18px;
    margin-top: 15px;
    border-radius: 16px;
}
.password_submit:focus{
   box-shadow: none;
}
.password_submits{
    width: 100%;
    font-size: 24px;
    background-color: #F9D75D !important;
    border: none;
    color: #000 !important;
    padding: 18px;
    margin-top: 15px;
    border-radius: 16px;
}
.btn_bg_ylw
{
  background-color: #F9D75D !important;
  color: #000 !important;
}
/* .password_submit:focus{
  box-shadow: none;
  border: 2px solid #B9B2DC;
} */