a.all_propertys
{
  background-color: #000 !important;
  color: #B9B2DC !important;
  width: 100%;
  padding: 15px;
  font-size: 22px;
  margin-top: 15px;
  border-radius: 10px; 
  visibility: hidden;

}

a.all_propertyss
{
  background-color: #F9D75D !important;
  color: #000 !important;
  width: 100%;
  padding: 15px;
  font-size: 22px;
  margin-top: 15px;
  border-radius: 10px;
}
.add_property_passcode  .all_propertys{
    margin-top: 5rem;
  }
.add_property_passcode  .all_propertyss{
    margin-top: 5rem;
  }