.monthly{
    margin-left: -17px;
}
.newslide{
    margin-top: 0px;
    margin-right: 10px;
    width: 90%;
}
.newslideone{
    margin-top: 20px;
    width: 90%;
}
.newslidetwo{
    margin-top: 60px;
    margin-right: 15px;
    width: 90%;
}