.h3 {
  color: #fff;
  text-align: center;
  font-family: ModeratRegular;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main_content_wr .property_accordian .accordion-bodys {
  background-color: #3a3737;
  padding: 0px 10px;
  font-size: 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-top: -15px;
}
.main_content_wr .property_accordian .accordion-bodyss {
  padding: 0px 10px;
  font-size: 20px;
}

 

 

 